@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(135deg, #add8e6, #87ceeb);
    color: #000;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.info-section {
    flex: 1;
    position: relative;
    color: #fff;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.9);
    background: linear-gradient(
        rgba(0, 0, 0, 0.5), /* Dark overlay */
        rgba(0, 0, 0, 0.5)
    ),
    url('Images/CoverImage07.jpg') no-repeat center center/cover;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-section h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.info-section p {
    font-size: 1.05rem;
    line-height: 1.8;
    margin-bottom: 30px;
    color: white; /* Adjust text color as needed */
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,1px 1px 0 black; 
}

.login-section {
    flex: 1;
    background: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    width: 80%;
    max-width: 400px;
    text-align: center;
}

.login-box h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.login-box form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-box input {
    width: 100%;
    padding: 12px;
    margin: 16px 0; /* Ensures equal spacing for inputs and buttons */
    border: 1px solid #add8e6;
    border-radius: 8px;
    font-size: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s;
}

.login-box input:focus {
    border-color: #87ceeb;
    outline: none;
}

.login-box button {
    width: 107%;
    padding: 12px;
    margin: 16px 0; /* Same spacing as input */
    background: #00aaff;
    color: #000;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s;
}

.login-box button:hover {
    background: #87ceeb;
}

.login-box .options {
    margin-top: 20px;
}

.login-box .options a {
    color: #add8e6;
    text-decoration: none;
    font-size: 0.9rem;
}

.login-box .options a:hover {
    text-decoration: underline;
}

.error {
    color: red;
    margin-bottom: 10px;
}
.options a {
    text-decoration: none;
    color: #007BFF;
}